.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 15;
}

.modal-content {
    width: 500px;
    background-color: white;
}

.modal-header, .modal-footer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.modal-header button {
    cursor: pointer;
}

.modal-title {
    margin: 0
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


